body {
    background: #5A6E1B;
    background: linear-gradient(41deg,rgba(90, 110, 27, 1) 0%, rgba(172, 178, 50, 1) 51%, rgba(227, 231, 140, 1) 100%) no-repeat;
    height: 100vh;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section {
    background-color: #F3F4F6;
    padding: 40px;
    border: solid 5px var(--primary-color-med);
    border-radius: 15px;
}

h1 {
    font-size: 6em;
    color: var(--primary-color-dark);
    margin-bottom: 20px;
}

.caHeader {
    font-size: 3em;
    color: var(--primary-color-dark);
    margin-bottom: 20px;
}

#createAdminForm {
    margin-top: 20px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

input[type='text'],
input[type='email'] {   
    font-size: 0.75em;
    padding: 5px;
    border: solid 3px var(--primary-color-med);
    border-radius: 10px;
}

button {
    margin-top: 20px;
    font-size: 1.5em;
    background-color: var(--secondary-color-dark);
    padding: 5px;
    border: solid 3px var(--primary-color-med);
    border-radius: 15px;
    width: 100%;
}

.errDisplay {
    color: red;
    height: 10px;
}

.none {
    height: 10px;
    content: "";
}