@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --primary-color-dark: #243816;
    --primary-color-med: #394D16;
    --primary-color-light: #5a6e1b; 
    --secondary-color-dark: #ACB232;
    --secondary-color-light: #E3E78C
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}